<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonghyun.projectStudy.mapper.StudiesMapper">
   <insert id="add" parameterType="com.yonghyun.projectStudy.domain.Studies">
   	  INSERT INTO studies(users_email, img_name) 
   	  VALUES(#{usersEmail}, #{imgName});
   </insert>
   
   <select id="getAllStudies" resultType="com.yonghyun.projectStudy.domain.Studies">
   	  SELECT * FROM studies;
   </select>
 </mapper>
   